################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/shiftgenius.metadata.v7.bin
/.vs/ProjectEvaluation/shiftgenius.projects.v7.bin
/.vs/ShiftGenius/FileContentIndex/bd989541-98e8-404e-a53b-98d1c1c7920b.vsidx
/.vs/ShiftGenius/FileContentIndex/f1c2dcdc-7176-486d-92dc-56000462cdd9.vsidx
/.vs/ShiftGenius/v17/.suo
/.vs/ShiftGenius/v17/.wsuo
/ShiftGenius/bin/Release/net6.0/ShiftGenius.dll
/ShiftGenius/bin/Release/net6.0/ShiftGenius.pdb
/ShiftGenius/bin/Release/net6.0/ShiftGenius.staticwebassets.runtime.json
/ShiftGenius/bin/Release/net6.0/ShiftGeniusLibDB.dll
/ShiftGenius/bin/Release/net6.0/ShiftGeniusLibDB.pdb
/ShiftGenius/obj/Debug/net6.0/ShiftGenius.assets.cache
/ShiftGenius/obj/Debug/net6.0/ShiftGenius.csproj.AssemblyReference.cache
/ShiftGenius/obj/Debug/net6.0/ShiftGenius.GeneratedMSBuildEditorConfig.editorconfig
/ShiftGenius/obj/project.assets.json
/ShiftGenius/obj/project.nuget.cache
/ShiftGenius/obj/Release/net6.0/project.razor.vs.json
/ShiftGenius/obj/Release/net6.0/ShiftGenius.assets.cache
/ShiftGenius/obj/Release/net6.0/ShiftGenius.csproj.AssemblyReference.cache
/ShiftGenius/obj/Release/net6.0/ShiftGenius.csproj.CoreCompileInputs.cache
/ShiftGenius/obj/Release/net6.0/ShiftGenius.csproj.FileListAbsolute.txt
/ShiftGenius/obj/Release/net6.0/ShiftGenius.dll
/ShiftGenius/obj/Release/net6.0/ShiftGenius.GeneratedMSBuildEditorConfig.editorconfig
/ShiftGenius/obj/Release/net6.0/ShiftGenius.genruntimeconfig.cache
/ShiftGenius/obj/Release/net6.0/ShiftGenius.pdb
/ShiftGenius/obj/Release/net6.0/staticwebassets.build.json
/ShiftGenius/obj/Release/net6.0/staticwebassets.development.json
/ShiftGenius/obj/Release/net6.0/staticwebassets.pack.json
/ShiftGenius/obj/ShiftGenius.csproj.nuget.dgspec.json
/ShiftGeniusLibDB/bin/Release/net6.0/ShiftGeniusLibDB.dll
/ShiftGeniusLibDB/bin/Release/net6.0/ShiftGeniusLibDB.pdb
/ShiftGeniusLibDB/obj/Debug/net6.0/ShiftGeniusLibDB.assets.cache
/ShiftGeniusLibDB/obj/Debug/net6.0/ShiftGeniusLibDB.csproj.AssemblyReference.cache
/ShiftGeniusLibDB/obj/Debug/net6.0/ShiftGeniusLibDB.GeneratedMSBuildEditorConfig.editorconfig
/ShiftGeniusLibDB/obj/project.assets.json
/ShiftGeniusLibDB/obj/project.nuget.cache
/ShiftGeniusLibDB/obj/Release/net6.0/ShiftGeniusLibDB.assets.cache
/ShiftGeniusLibDB/obj/Release/net6.0/ShiftGeniusLibDB.csproj.FileListAbsolute.txt
/ShiftGeniusLibDB/obj/Release/net6.0/ShiftGeniusLibDB.dll
/ShiftGeniusLibDB/obj/Release/net6.0/ShiftGeniusLibDB.GeneratedMSBuildEditorConfig.editorconfig
/ShiftGeniusLibDB/obj/Release/net6.0/ShiftGeniusLibDB.genruntimeconfig.cache
/ShiftGeniusLibDB/obj/Release/net6.0/ShiftGeniusLibDB.pdb
/ShiftGeniusLibDB/obj/ShiftGeniusLibDB.csproj.nuget.dgspec.json
