@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a class="btn btn-primary btn-block" asp-controller="Manager" asp-action="AddMinHours">MinHours</a>
            </div>
            <div class="col-3">
                <a class="btn btn-primary btn-block" asp-controller="Manager" asp-action="AddMaxHours">MaxHours</a>
            </div>
            <div class="col-3">
                <a class="btn btn-primary btn-block" asp-controller="Manager" asp-action="AddOperatingHours">OperatingHours</a>
            </div>
            <div class="col-3">
                <a class="btn btn-primary btn-block" asp-controller="Manager" asp-action="AddMinEmployees">MinEmployees</a>
            </div>
        </div>
    </div>

}
