@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div style="color:#47525e;text-align:center">
        <h1>Welcome @User.Identity.Name</h1>
        <h2>Your Schedule</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height:60vh;">
        <div class="container text-white" style="background-color: #343F4B; padding: 30px; height:40vh;">

            <div class="row" style="height:85%">
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:20px">Monday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            8am - 4pm
                        </div>
                    </div>
                </div>
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:20px">Tuesday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            7am - 5pm
                        </div>
                    </div>
                </div>
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:17px">Wednesday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            8am - 4pm
                        </div>
                    </div>
                </div>
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:20px">Thursday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            PTO
                        </div>
                    </div>
                </div>
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:20px">Friday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            7am - 5pm
                        </div>
                    </div>
                </div>
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:20px">Saturday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            8am - 4pm
                        </div>
                    </div>
                </div>
                <div class="col-md-1-7">
                    <div class="card text-center card-full-height" style="background-color: #969FAA;">
                        <div class="card-header" style="color:#122235; font-size:20px">Sunday</div>
                        <div class="card-body d-flex justify-content-center align-items-center" style="color:#56606c;font-size:16px;font-weight:lighter">
                            OFF
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-dark"><i class="fa fa-arrow-left"></i></button>
                <a class="btn btn-secondary">
                    View Full Schedule</a>
                <button class="btn btn-dark"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="text-center mt-8">
        <a class="btn btn-primary" style="margin-right:50px">Generate Schedule</a>
        <a class="btn btn-primary" href="@Url.Action("ManagerTimeOffRequests", "Manager")" style="margin-right: 50px;">Time Off Requests</a>
        <a class="btn btn-primary" href="@Url.Action("ManagerAvailabilityRequests", "Manager")" style="margin-right: 50px;">Availability Changes</a>
        <a class="btn btn-primary">View Schedule Rules</a>
    </div>
</div>