@model LoginViewModel

<h2>Login</h2>

<form method="post" asp-action="Login">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>