@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EmployeeHomeViewModel

<div class="employee-home-container">
    @*Displaying the user that is logged in, this should probably also take into account if its a manager or employee, idk.*@
    <div>
        Welcome Employee
    </div>
    @*<h2>Welcome @Model.EmployeeName</h2>*@
    <hr />
    <div class="schedule-banner">
        <table class="table table-bordered table-calendar">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Schedule</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var entry in Model.Schedule)
                {
                <tr>
                    <td>@entry.DayOfWeek</td>
                    <td>@entry.StartTime - @entry.EndTime</td>
                </tr>
                }*@
                <tr>
                    <td>Monday</td>
                    <td>8:00 - 14:00</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>6:00 - 11:00</td>
                </tr>
            </tbody>
        </table>
    </div>
